/* Estilos para la barra de navegación */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    position: relative;
    width: 100%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    background-color: #444;
    list-style: none;
    padding: 10px 0;
}

.navbar li:hover .submenu {
    display: block;
}

.submenu li {
    width: 200px;
}

.submenu a {
    padding: 10px;
    color: white;
}

.submenu a:hover {
    background-color: #666;
}